{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 128,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
